[Unit]
Description=Ocean Park Tides Bot daily NOAA data fetch.
Wants=network-online.target

[Service]
Restart=on-failure
RestartSec=30min
ExecStart=/home/isaiah/OceanParkTidesBot/daily_noaa_fetch.py
